{% extends "../layout.jinja2" %}

{% block content %}
<div class="content">
    <div class="row">
        <h1>Vielen Dank für die Übermittlung Ihrer Daten!</h1>
    </div>
    <div class="row">

    Bitte merken Sie sich die Fallnummer

    <h2>{{case_number}}</h2>


Damit können Sie regelmäßige Updates LoremIphsummfdaipjvq3ng
    </div>
</div>
{% endblock content %}
