{% extends "../layout.jinja2" %}

{% block content %}
<div class="content">
    <div class="row">
        <h1>{% trans %} Vielen Dank für die Übermittlung Ihrer Daten! {% endtrans %}</h1>
    </div>
    <div class="row">

    {% trans %} Bitte merken Sie sich die Fallnummer {% endtrans %}

    <h2>{{case_number}}</h2>


{% trans %} Damit können Sie regelmäßige Aktualisierung erhalten {% endtrans %}
    </div>
</div>
{% endblock content %}
