{% extends "../layout.jinja2" %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">

            <h1>{% trans %} Bitte geben Sie Ihre Fallnummer und Email ein {% endtrans %}</h1>
        </div>
    </div>

    {%if False == case_number_found%}
        <div class="row">
            <div class="col-md-12">
            <h2>
                {% trans case_number=number %} Ihre Fallnummer {{case_number}} wurde leider nicht gefunden {% endtrans %}
            </h2>
            </div>
        </div>
    {%endif%}
    <div class="row">
        <div class="col-md-12">

            <form method="POST">
                <div class="form-group">
                    <label for="case_number">Fallnummer</label>
                    <input type="text" class="form-control" id="case_number" name="case_number" placeholder="Fallnummer" value="{{case_number}}">
                    {%if case_number_has_error %}
                    <div class="invalid-feedback">
                        {% trans %} Bitte Fallnummer angeben {% endtrans %}
                    </div>
                    {%endif%}

                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{email}}">

                    {%if email_has_error %}
                    <div class="invalid-feedback">
                       {% trans %} Bitte Email Adresse angeben {% endtrans %}
                    </div>
                    {%endif%}
                </div>

                <button type="submit" class="btn btn-primary">{% trans %} Absenden {% endtrans %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
