{% extends "../layout.jinja2" %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">

            <h1>{% trans %} Ihre aktuellen Daten {% endtrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {%if person.covid_status == "" %}
            <h2>{% trans %}Es liegen noch keine Informationen zu Ihrem Fall vor. Wir informieren Sie umgehend per Email wenn Ergebnisse vorliegen  {% endtrans %}</h2>
            {% endif %}
            {%if person.covid_status == "recovered" %}
            <h2>{% trans %} Sie sind genesen! {% endtrans %}</h2>
            {% endif %}
            {%if person.covid_status == "healthy" %}
            <h2>{% trans %} Sie sind nicht Infiziert {% endtrans %}</h2>
            {% endif %}
            {%if person.covid_status == "infected" %}
            <h2>{% trans %} Sie sind Infiziert {% endtrans %}</h2>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}
