{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <div class="row">
     <div class="col-md-12">
            <h1>Willkommen beim Corona Informationsportal</h1>
            Hier können Sie bequem mit Ihrem Gesundheitsamt komunizieren.
        </div>
    </div>
    <hr/>
    <div class="row  align-self-center">
     <div class="col-md-12">
            <a href="/person_info" class="btn btn-primary">Meinen Status überprüfen</a>
        </div>
    </div>
    <hr/>
    <div class="row">
     <div class="col-md-12">
            <a  href="/status" class="btn btn-primary">Meinen Status überprüfen</a>
        </div>
    </div>
</div>
{% endblock content %}
