{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <div class="row">
     <div class="col-md-12">
            <h1>{% trans %} Willkommen beim Corona Informationsportal {% endtrans %}</h1>
            {% trans %} Hier können Sie bequem mit Ihrem Gesundheitsamt komunizieren. {% endtrans %}
        </div>
    </div>
    <hr/>
    <div class="row  align-self-center">
     <div class="col-md-12">
            <a href="/person_info" class="btn btn-primary">{% trans %} Profil anlegen {% endtrans %}</a>
        </div>
    </div>
    <hr/>
    <div class="row">
     <div class="col-md-12">
            <a  href="/status" class="btn btn-primary">{% trans %} Meinen Status überprüfen {% endtrans %}</a>
        </div>
    </div>
</div>
{% endblock content %}
