{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<div class="row">
<h1>Bitte geben Sie Ihre Kontaktdaten ein</h1>
</div>
  <div class="row">
            <form target="@todo define me">
                <div class="form-group">
                    <label for="firstname">Vorname</label>
                    <input type="text" class="form-control" id="firstname"  name="firstname" placeholder="Vorname">
                </div>
                <div class="form-group">
                    <label for="firstname">Nachname</label>
                    <input type="text" class="form-control" id="lastname"  name="lastname" placeholder="Nachname">
                </div>
                <div class="form-group">
                    <label for="phonenumber">Telefonnummer</label>
                    <input type="tel" class="form-control" id="phonenumber" name="phonenumber" placeholder="Telefonnummer">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>

                <button type="submit" class="btn btn-primary">Absenden</button>
            </form>
        </div>
</div>
{% endblock content %}
